/**
 * Font stacks
 */

:root {
  --lf-font-family-sans-serif: "Intro Cond", Arial, "Helvetica Neue",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --lf-font-family-serif: "LF Rubrik", Georgia, "Times New Roman", Times, serif;
}

/**
 * Font setup
 */

@font-face {
  font-family: 'LF Rubrik';
  src:
    url('./lf-rubrik.woff2') format('woff2')
    url('./lf-rubrik.woff') format('woff')
    url('./lf-rubrik.ttf') format('ttf');
  font-display: swap;
  font-kerning: normal;
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Intro Cond';
  src: url('./intro-cond-regular.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Intro Cond';
  src: url('./intro-cond-regular-italic.woff2') format('woff2');
  font-display: swap;
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'Intro Cond';
  src: url('./intro-cond-bold.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Intro Cond';
  src: url('./intro-cond-bold-italic.woff2') format('woff2');
  font-display: swap;
  font-style: italic;
  font-weight: bold;
}
